In [4]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('../data/interim/retail.db')

In [5]:
pd.read_sql('SELECT * FROM sales LIMIT 5', conn)

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10